* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    outline: none;
}

html,
body,
.auth {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

a,
a:hover {
    text-decoration: none;
}

select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/dropdownicon.png) 98% / 3% no-repeat #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-overflow: '';
    text-indent: 0.01px;
    /* Removes default arrow from firefox*/
    text-overflow: "";
    /*Removes default arrow from firefox*/
}


/*
select {
    color: #787984;
}
option {
    color: #000;
}
option:first-child {
    color: #787984;
}
*/

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #787984;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #787984;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #787984;
}


/* BACKGROUNDS */

.background-auth {
    background-image: url(../images/graduation-ceremony.jpg);
}

.sticky-header {
    height: 100%;
}


/* END BACKGROUNDS */

.success {
    margin-top: -1rem;
    margin-bottom: 1rem;
    color: green;
}

.error {
    margin-top: -1rem;
    margin-bottom: 1rem;
    color: red;
}


/* LOGIN AND REGISTRATION */

.auth {
    display: flex;
}

.auth-form {
    border-radius: 0.5rem;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    max-width: 32rem;
    margin: auto;
    max-height: 90%;
    width: 90%;
    opacity: 0.9;
}

.page-title {
    font-size: 2.5rem;
    font-weight: 100;
    margin-bottom: 1rem;
    text-align: center;
}

.invites-for-all-form {
    border-radius: 0.5rem;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    max-width: 32rem;
    margin: auto;
    max-height: 45%;
    width: 90%;
}

.excellent-students-invites-form {
    border-radius: 0.5rem;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    max-width: 32rem;
    margin: auto;
    max-height: 45%;
    width: 90%;
}

.page-subtitle {
    color: #848694;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
    margin-top: 10px;
    max-width: 100%;
    text-align: center;
}

.page-input {
    border: none;
    border-bottom: 1px solid #f6a60d;
    font-size: 0.975rem;
    margin-bottom: 1rem;
    margin-top: 10px;
    height: 2.5rem;
    width: 100%;
}

.page-input:focus {
    border-color: #f6a60d;
    box-shadow: 0 1px 0 0 #f6a60d;
}

.page-info {
    font-size: 12px;
    color: #f6a60d;
}

.page-actions {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
    max-width: 10rem;
    margin: 0 auto;
}

.page-button {
    background-color: #f6a60c;
    border: none;
    border-radius: 1.25rem;
    color: #FFF;
    cursor: pointer;
    font-size: 1rem;
    height: 2.575rem;
    width: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.page-button-active:hover,
.page-button-active:focus,
.page-button-active:active {
    background-color: #fff;
    border: 1px solid #f6a80d;
    color: #f6a80d;
    cursor: pointer;
}

.page-link {
    font-size: 1rem;
    color: #0e0c0c;
    text-decoration: none;
    margin-top: 1.75rem;
    text-align: center;
}

.page-link-active:hover,
.page-link-active:focus,
.page-link-active:active {
    background-color: chocolate;
    border: 1px solid chocolate;
    color: #f6a80d;
    cursor: pointer;
}

.page-link:hover,
.page-link:focus {
    text-decoration: underline;
}


/* END LOGIN AND REGISTRATION */


/* HOME PAGE */

.container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.form-with-table-result {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    max-width: 32rem;
    max-height: 90%;
    width: 90%;
}

.generateDocument {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    max-width: 32rem;
    max-height: 90%;
    width: 90%;
}

.table-result {
    padding: 2.5rem;
    max-width: 32rem;
    max-height: 90%;
    width: 90%;
    background: white;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

#statistics-result {
    padding-top: 0 !important;
}

table {
    width: 100%;
    font-family: monospace;
    text-align: center;
}

th {
    background-color: #f6a80d;
    color: white;
    font-size: 1.1rem;
    width: 50%;
}

#statistics-result tr {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.table-title {
    color: #848694;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 2rem;
    max-width: 100%;
    text-align: center;
}


/* END HOME PAGE */


/* HEADER */

header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: white;
    padding: 0 30px;
    -webkit-box-shadow: 0px 3px 15px rgba(50, 50, 50, .7);
    -moz-box-shadow: 0px 3px 15px rgba(50, 50, 50, .7);
    box-shadow: 0px 3px 15px rgba(50, 50, 50, .7);
}

header a,
header button {
    text-align: center;
    padding: 15px;
    font-size: 18px;
    line-height: 25px;
}

header #logo a {
    font-family: 'Cardo', serif;
    color: #f6a80d;
    font-size: 25px;
    font-weight: bold;
}

header ul {
    padding: 0px;
    margin: 0px;
}

header ul li {
    list-style-type: none;
    padding: 0px;
    margin-left: 7px;
    display: inline-block;
}

header ul li a,
header ul li button {
    color: #fdfdfd;
    font-size: 17px;
    text-transform: uppercase;
    background-color: #fff;
    color: #f6a80d;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li a:hover,
header ul li button:hover {
    background-color: #fff;
    color: chocolate;
    cursor: pointer;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.menu-toggle {
    padding: 10px 20px;
    text-align: right;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    display: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media (max-width: 1300px) {
    header {
        padding: 0;
    }
    nav {
        width: 100%;
    }
    .menu-toggle {
        display: flex;
    }
    header ul {
        display: flex;
        flex-direction: column;
    }
    #logo {
        display: none;
    }
    header ul li a,
    header ul li button {
        background-color: #FFF;
        border: none;
        color: #f6a80d;
    }
    .menu-toggle-hide {
        display: none;
    }
}


/* END HEADER */


/* WELCOME PAGE */

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;
    max-width: 32rem;
    margin: auto;
    max-height: 90%;
    width: 90%;
    height: 280px;
    text-align: center;
    border-radius: 0.5rem;
    background-color: #fdfdfd;
    box-shadow: 0px 3px 15px rgba(50, 50, 50, .7);
    opacity: 0.9;
}


/* END WELCOME PAGE */
